.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  margin-top: 100px;
  text-align: center;
}

.form-content {
  display: inline-block;
}

.form-error {
  color: #f40552;
}

.form-container .input-element {
  margin-top: 12px;
}

.form-container input[type=text] {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px 10px;
}

.form-container input[type=text]:focus {
  background-color: #9cf7f2;
  transition: 0.3s;
}

.form-container input[type=text]:hover {
  background-color: #cef6ff;
  transition: 0.3s;
}

.form-container input[type=submit] {
  margin-top: 12px;
  padding: 12px 30px;
  border:0 none;
  border-radius: 5px;
  background-color: #00909e;
  color: black;
}

.form-container input[type=submit]:hover {
  color: white;
  background-color: #30475e;
  transition: 0.3s;
}