.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
    Body
*/

body {
  background-color: #dae1e7;
  color: #142850;
}

/*
    Nav bar
*/

nav ul {
  list-style-type: none;
}

nav ul:last-child {
  margin-right: 160px;
}

nav ul * {
  float: right;
  display: block;
  margin-right: 10px;
}

nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

nav a {
  text-decoration: none;
  color: #142850;
  padding: 10px;
  padding-top: 16px;
  font-weight: 800;
}

nav a.active {
  color: white;
  background-color: #142850;
}

nav a:hover {
  color: white;
  background-color: #30475e;
  transition: 0.3s;
}

nav p {
  text-decoration: none;
  color: #142850;
  font-weight: 800;
  margin-bottom: 40px;
}


/*
    Forms
*/

.form-container {
  margin-top: 100px;
  text-align: center;
}

.form-content {
  display: inline-block;
}

.form-error {
  color: #f40552;
}

.form-success {
  color: #06623b;
}

.form-container .input-element {
  margin-top: 12px;
}

.form-container input[type=text], input[type=number], input[type=date] {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px 10px;
}

.form-container input[type=text]:focus, input[type=number]:focus, input[type=date]:focus {
  background-color: #9cf7f2;
  transition: 0.3s;
}

.form-container input[type=text]:hover, input[type=number]:hover, input[type=date]:hover {
  background-color: #cef6ff;
  transition: 0.3s;
}

.form-container textarea {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px 10px;
}

.form-container textarea:focus {
  background-color: #9cf7f2;
  transition: 0.3s;
}

.form-container textarea:hover {
  background-color: #cef6ff;
  transition: 0.3s;
}

.form-container select {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px 10px;
}

.form-container select:hover {
  background-color: #cef6ff;
  transition: 0.3s;
}

.form-container input[type=submit] {
  margin-top: 12px;
  padding: 12px 30px;
  border:0 none;
  border-radius: 5px;
  background-color: #00909e;
  color: black;
}

.form-container input[type=submit]:hover {
  color: white;
  background-color: #30475e;
  transition: 0.3s;
}

/*
    Body of 'Home' page
*/

.main-container {
  margin-left: 60px;
  margin-top: 50px;
}

.supermarkets-list {
  margin-left: 10px;
  margin-top: 40px;
}

.supermarket {
  margin-top: 15px;
}

.time-slot-list {
  margin-left: 10px;
  width: 320px;
  height: 400px;
  overflow: scroll;
  scrollbar-color: #142850 #f9f9f9;
}

.time-slot-element {
  margin-top: 25px;
}

.time-slot-element div {
  margin-top: 10px;
}

.error {
  color: #f40552;
  margin-left: 20px;
  margin-top: 45px;
}

.info {
  margin-left: 20px;
  margin-top: 45px;
}

/*
  'View supermarket' main page 
*/

.add-time-slots {
  margin-left: 25px;
  margin-top: 40px;
}

.add-time-slots a {
  text-decoration: none;
  color: #142850;
  padding: 12px 30px;
  border:0 none;
  border-radius: 5px;
  background-color: #00909e;
  color: black;
}

.add-time-slots a:hover {
  color: white;
  background-color: #30475e;
  transition: 0.3s;
}

.time-slot-list .need-login-info {
  font-style: italic;
  text-align: right;
  font-size: 0.8em;
  padding-right: 10px;
}

.appointment-button {
  padding: 4px 12px;
  color: #142850;
  background-color: #00909e;
}

.appointment-button:hover {
  color: white;
  background-color: #30475e;
  transition: 0.3s;
}

/*
   View appointments
*/

.supermarkets-with-appointments-list {
  margin-top: 10px;
  margin-left: 10px;
  width: 320px;
  height: 600px;
  overflow: scroll;
  scrollbar-color: #142850 #f9f9f9;
}

.supermarket-info {
  margin-bottom: 10px;
}

.appointment-element {
  margin-top: 25px;
}

.appointment-element div {
  margin-top: 10px;
}

